
*{
  padding: 0;
  margin:0;
}


body{
    margin:0;
    font-family:Arial;
    display:flex;
    background:#eef2f7;
}

.sidebar{
    width:150px;
    min-height:100vh;
    background:gray;
    color:white;
    padding:18px;
}

.sidebar a{
    display:block;
    color:White;
    text-decoration:none;
    margin-bottom:6px;
    padding: 10px;
    background-color:Black;
}

.box {
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
}